{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<link href={% static "graphs/css/pager.css" %} rel="stylesheet">
<link href={% static "graphs/css/graphs.css" %} rel="stylesheet">

<div class="container graphs">
	<h1>Notifications</h1>
	<div class="row">
	    <div class="col-sm-12">
	    	{% if notifications != None and notifications|length > 0 %}
	    		{% if current_page != None %}
			        <div class="results_table">
			        	<table class='table table-hover' style='table-layout:fixed;overflow:hidden;word-wrap:break-word;'>
			        		<tr>
	                     		<th>Happened</th>
	                    		<th>Description</th>
	                		</tr>
	          				{% for notifcation in current_page %}
	          					<tr>
	          						<td>{{notifcation.created}}</td>
	          						<td>{{notifcation.description}}</td>
          						</tr>
	          				{% endfor %}
						</table>
					</div>
				{% endif %}
			{% else %}
				<p>There are currently no new notifications.</p>
			{% endif %}
		</div>
	</div>

</div>
{% endblock %}