{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<script type="text/javascript">
    var graph_json = {{ graph|safe }};
    var layout = {{ layout_to_view|safe }};
    window.cy;
</script>

<p id="loggedIn" style="display:none;">{{logged_in}}</p>
<p id="graphId" style="display:none;">{{graph_id}}</p>
<p id="userId" style="display:none;">{{user_id}}</p>
<p id="taskURL" style="display:none;">{{task_url}}</p>

<!-- Save Modal -->
        <div class="modal fade" id="layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Save Layout</h4>
              </div>
              <div class="modal-body">

                <form method="post" id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                        <div class="control-group">
                            <label for="layout_name">Layout Name</label>
                            <input id="layout_name" class="form-control" type="text" name="layout_name" autocomplete="off"/>
                        </div>
                        <br>
                        <div class="control-group">
                            <label for="layout_note">Note about Layout</label>
                            <textarea id="layout_note" class="form-control" rows="6"></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <button name="save_layout" id="save_layout" class="btn btn-success">Save Layout</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div> 
                </form>

              </div>
            </div>
          </div>
        </div>

<!-- Feedback Modal -->
        <div class="modal fade" id="feedback_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Layout Feedback</h4>
              </div>
              <div class="modal-body">

                <form method="post" id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                        <div class="control-group">
                            <div id="layout_feedback"></div>
                        </div>
                        <div class="control-group">
                          <label for="feedback_note">New Note</label>
                            <textarea id="feedback_note" class="form-control" rows="2"></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="save_new_note">Add New Note</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div> 
                </form>

              </div>
            </div>
          </div>
        </div>

<div class="container-fluid csjs_container">

    <div id="graph_title" ><h1 id="title" style="display:none;">{{graph_name}}</h1></div>
    <div class="csjs" id="csjs"></div>

    <div class="side_menu">
        <div id="accordion_information" class="accordion">
            <h3>Task Information<a class="help" href="../../../help/#task_information" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content test">
                <div class="input-group">
                    <b>Description of Task</b><br><br>
                    <p>{{task.description}}</p>
                    <hr>
                    <b>Notes for Task</b><br><br>
                    <p>{{task.notes}}</p>
                </div>
            </div>
        </div>
    	<div id="accordion_design" class="accordion">
            <h3>Design Graph<a class="help" href="../../../help/#manipulate_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content test">
                <div style="text-align: center;" id="design_graph" class="input-group">
                    <h3>Selection</h3>
                    <div style="text-align: center;" id="selection" class="input-group">
                    </div>
                    <h3>Modify</h3>
                    <div style="text-align: center;" id="modify" class="input-group">
                      <p style='text-align: left;'>Modify Color:
                      <button
                          class="jscolor {valueElement:'valueInput',value:'66ccff'}"
                          style="width:50px; height:20px; border-style: none;"><div hidden id="valueInput"></div></button></p>
                          
                      <p id="modifyShape" style='text-align: left;'>Modify Shape:
                      <select id="modifyShapeSelection">
                        <option value="rectangle">Rectangle</option>
                        <option value="roundrectangle">Round Rectangle</option>
                        <option value="ellipse">Ellipse</option>
                        <option value="triangle">Triangle</option>
                        <option value="pentagon">Pentagon</option>
                        <option value="hexagon">Hexagon</option>
                        <option value="heptagon">Heptagon</option>
                        <option value="octagon">Octagon</option>
                        <option value="star">Star</option>
                        <option value="diamond">Diamond</option>
                        <option value="vee">Vee</option>
                        <option value="rhomboid">Rhomboid</option>
                      </select>
                    </p>
                    </div>
                    <h3>Move</h3>
                    <button class="btn btn-primary" id="group" style="display: block; margin: 0 auto;">Group Selected Nodes</button>
                    
                	<!-- <button class="btn btn-success" name="move_green_right_button" id="move_green_right_button">Move Green Right</button>
                    <button class="btn btn-success" name="move_green_square_down_button" id="move_green_square_down_button">Move Green Square Down</button>
                    <button class="btn btn-info" name="select_purple_button" id="select_purple_button">Select All Purple</button> -->
                    <!-- <button class="btn btn-info" name="select_circle_button" id="select_circle_button">Select All Circles</button>
                    <button class="btn btn-info" name="move_selected_down_button" id="move_selected_down_button">Move Selected Down</button>
                    <button class="btn btn-success" name="change_selected_color_button" id="change_selected_color_button">Change Selected Color</button>
                    <button class="btn btn-danger" name="unselect_button" id="unselect_button">Reset Selection</button> -->
                </div>
                  <!-- <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br> -->
            </div>
        </div>

       <div id="accordion_layouts" class="accordion">
            <h3>Layouts<a class="help" href="../../../help/#layout_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content">
                {% if uid != None %}
                    <div>
                      <p id="loggedIn" style="display:none;">{{uid}}</p>
                      <button class="btn btn-default" data-toggle="modal" data-target="#layout_modal">Save Layout</button>
                    </div>
                {% endif %}
                <hr/>
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="layout-tabs">
                          <a id='layout_link' href=""></a>
                          <li id="accept"><a href="#accepted" data-toggle="tab">Accepted</a></li>
                          <li id="auto"><a href="#builtin" data-toggle="tab">Submitted</a></li>
                          <li id="manual"><a href="#custom" data-toggle="tab">Mine</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="accepted">
                                <br/>
                                <ul class="nav nav-pills">
                                    {% for o in accepted_layouts %}
                                        <a class="list-group-item layout_buttons" href="?layout={{o.layout_name}}&layout_owner={{o.owner_id}}">{{o.layout_name}} by: {{o.owner_id}}
                                        {% if o.owner_id == logged_in %}
                                            <br><br>
                                            <button class="btn btn-default layout_links feedback" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="View Feedback" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon-transfer"></span>
                                            </button>
                                        {% endif %}
                                        <div style="clear: both;"></div>
                                        </a>
                                    {% endfor %}
                                </ul>  
                            </div>
                            <div class="tab-pane" id="builtin">
                                <br/>
                                <ul class="nav nav-pills">
                                    {% for o in submitted_layouts %}
                                        <a class="list-group-item layout_buttons" href="?layout={{o.layout_name}}&layout_owner={{o.owner_id}}">{{o.layout_name}} by: {{o.owner_id}}
                                        {% if o.owner_id == logged_in %}
                                            <br><br>
                                            <button class="btn btn-default layout_links submit" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Unsubmit Layout" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon glyphicon-minus-sign"></span>
                                            </button>
                                            <button class="btn btn-default layout_links feedback" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="View Feedback" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon-transfer"></span>
                                            </button>
                                        {% else %}
                                        <br><br>
                                        <button class="btn btn-default layout_links feedback" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="View Feedback" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon-transfer"></span>
                                            </button>
                                        {% endif %}
                                        
                                        <div style="clear: both;"></div>
                                        </a>
                                    {% endfor %}
                                </ul>  
                            </div>
                            <div class="tab-pane" id="custom">
                                <br/>
                                <ul class="nav nav-pills">
                                    {% for o in my_layouts %}
                                        {% if o.submitted == 1 %}
                                            <a class="list-group-item layout_buttons" style="background-color: grey; color: white;" href="?layout={{o.layout_name}}&layout_owner={{o.owner_id}}">{{o.layout_name}} created by {{o.owner_id}}
                                        {% else %}
                                            <a class="list-group-item layout_buttons" href="?layout={{o.layout_name}}&layout_owner={{o.owner_id}}">{{o.layout_name}} created by {{o.owner_id}}
                                        {% endif %}
                                        <br><br>

                                        {% if o.submitted == 1 %}
                                            <button class="btn btn-default layout_links submit" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Unsubmit Layout" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon glyphicon-minus-sign"></span>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-default layout_links submit" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Submit Layout For Review" value="{{o.layout_name}}" style="float: left;">
                                              <span class="glyphicon glyphicon glyphicon-plus-sign"></span>
                                            </button>
                                        {% endif %}
                                        <button class="btn btn-default layout_links delete" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Delete Layout" value="{{o.layout_name}}" style="float: left;">
                                          <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button class="btn btn-default layout_links feedback" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="View Feedback" value="{{o.layout_name}}" style="float: left;">
                                          <span class="glyphicon glyphicon-transfer"></span>
                                        </button>
                                        <div style="clear: both;"></div>
                                        </a>
                                    {% endfor %}
                                </ul>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<script type="text/javascript" src="{% static 'graphs/js/base.js' %}"></script> 
<script type="text/javascript" src="{% static 'graphs/js/view_task_graph.js' %}"></script> 

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'graphs/css/cytoscape.js-panzoom.css' %}">
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<link rel="stylesheet" href="{% static 'graphs/font-awesome/css/font-awesome.css' %}">


<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- CytoscapeJS API-->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js' %}"></script>

<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js-panzoom.js' %}"></script>

<!-- stylesheet for view_graph page -->

<!-- cytoscape web wrapper for viewing graph -->

<!-- stylesheet for view_graph page -->
<link rel="stylesheet" href="{% static 'graphs/css/view_graph.css' %}">

<!-- stylesheet for side menus -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">


{% endblock %}